.newton-section {
  width: 25rem;
  display: flex;
}

.newton-section-mobile {
  padding: 1rem;
}

.newton-container-mobile {
  display: flex;
  flex: 1;
  justify-content: center;
}

.how-work {
  color: #0091EA;
  margin: 10px 0;
  cursor: pointer;
}

.newton-body {
  text-align: justify;
}

.newton-section p {
  text-align: justify;
}


.newton-fullscreen {
  height: 100%;
  width: 100%;
  display: flex;
}

.newton-header {
  display: flex;
  height: 48px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.recomendation {
  display: flex;
}

.selections {
  padding: 1rem;
}

.newton-modal {
  text-align: justify;
}

.newton-modal span {
  color: #0091EA;
}

.newton-fullscreen-mobile {
  display: flex;
  flex-direction: column;
}

.order-2 {
  order: 2;
}

.order-1 {
  order: 1;
}