.banner-container {
  background-color: #0091EA;
  display: flex;
  height: 4rem;
  transition: height 300ms ease;
}

.banner-container.compress {
  height: 0;
  transition: height 300ms ease;
}

.banner-container > .title {
  height: 2rem;
  width: 20rem;
  margin: 1rem 0;
  background-image: url(../assets/tuniversidad-logotipo-blanco.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

