.banner-container {
  background-color: #0091EA;
  display: flex;
  height: 3rem;
  transition: height 300ms ease;
}
.banner-container.site {
  background-color: #424242;
}
.banner-container > .title {
  height: 1.5rem;
  width: 20rem;
  margin: auto 0;
  background-image: url(../assets/tuniversidad-logotipo-blanco.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-container.site > .title {
  background-image: none;
}