.bar-chart {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.bar {
 display: flex;
 flex: 1;
 align-items: center;
 margin: 2px 0;
}

.bar__label {
  display: flex;
  flex: 1;
}

.bar__value {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.bar .rectangle {
  color: white;
  height: 2rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
  animation: 1s ease 0s 1 expandFromLeft;
}

@keyframes expandFromLeft {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
  }
}

.bar .rectangle:hover {
  opacity: 0.80;
}

.bar .rectangle-1 {
  background-color: #0091EA;
}

.bar .rectangle-2 {
  background-color: #969696;
}

.bar .rectangle-3 {
  background-color: #616161;
}