.search-input {
  height: 48px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: white;

  position: fixed;
  right: 0;
  top: 0;
  left: 230px;
}

.search-input-guest {
  left: 0;
}

.search-input-empty {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

.search-input-mobile {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0 ;
}

.search-input-form {
  display: flex;
  flex: 3;
  margin: 0 60px;
  align-items: center;
  border-radius: 2px;
  background-color: #F5F5F5;
  height: 36px;
  transition: background-color 1s;
}

.form-focused {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0.5px rgba(0,0,0,0.10);
}

.search-input-form-guest {
  margin: 0 1rem;
  flex: 1;
}



.search-input-form-mobile {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.search-input form input {
  color: #C9C9C9;
  text-indent: 1rem;
  font-size: 1rem;
  border: none;
  flex: 1;
  font-weight: 400;
  outline: none;
  background-color: #F5F5F5;
  transition: background-color 1s;
}

.search-input form input.input-focused {
  background-color: #FFFFFF;
}


.search-input-mobile form input {
  background-color: white;
}


.search-content-page {
  flex: 1;
  margin-left: 230px;
  padding-top: 48px;
  min-height: 100vh;
  background-color: #F5F5F5; 
  display: flex;
}

.search-content-page-guest {
  margin-left: 0;
}


.search-results {
  margin: 0 60px;
  display: flex;
  flex-direction: column;
  flex: 3;
}

.search-results-guest {
  margin: 0 1rem;
}

.search-results-mobile {
  padding-top: 96px;
  min-height: 100vh;
  background-color: #F5F5F5; 
}

.search-tags {
  padding: 0 1rem;
}

.search-feedback {
  margin: 7px 1rem;
  color: #C9C9C9;
}

.search-filters {
  width: 300px;
  padding: 0 2rem;
}

.filters-mobile {
  padding: 20px 2rem;
}

.filter-header {
  margin-top: 20px;
  font-size: 16px;
  color: #C9C9C9;
}



.search-input form ::-webkit-input-placeholder {
  color: #C9C9C9;
  font-weight: 400;
}

.search-input form :focus {
  outline-width: 0;
}

.before-search {
  flex: 1;
}

.pondera {
  height: 15rem;
  width: 13rem;
  background-image: url(/images/pondera.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.newton-left {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.newton-left .title {
  font-weight: 600;
  font-size: 18px;
  margin: 7px 0;
}

.newton-left .body {
  text-align: justify;
  margin: 7px 0;
}

.newton-left a.footer {
  color: #FFA000!important;
}


.newton-left .newton-body {
  display: flex;
  justify-content: center;
}