.career-view {
  background-color: #F5F5F5;
  height: ;
}

.career-view > .career-header {
  background-color: #0091EA;
  color: white;
  padding: 1rem 2rem; 
  box-shadow: inset 0px 5px 4px 0px rgba(0,0,0,0.30);
}

.career-view > .career-header > .title {
  font-size: 24px;
}

.career-view > .content {
  width: 80vw;
  margin: 2rem auto;
  display: block;
}

.career-view > .content > .tabs {
  width: 100%;
  height: 3rem;
  display: flex;
  background-color: #424242;
}

.career-view > .content > .tabs > .tab {
  width: 15rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C9C9C9;
  text-transform: uppercase;
}

.career-view > .content > .tabs > .tab.active {
  color: white;
}

.career-view > .content > .general-info > .result-card {
  margin: 0;
  width: 100%;
  min-width: 0;
}

.career-view > .content > .general-info > .description {
  margin-top: 2rem;
  background-color: white;
  padding: 1rem;
  color: #424242;
  font-size: 16px;
}