.essay {
  overflow: hidden;
}

.essay__header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 1rem;
  cursor: pointer;
}

.essay__header:hover {
  background-color: #0091EA;
  color: white;
}

.essay__title {
  flex: 1;
  font-size: medium;
}

.essay__expand-button {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}


