.filters {
  height: 100%;
  box-shadow: -4px 0px 10px -5px rgba(0,0,0,0.75);
}

.filters__banner {
  color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.filters__radio-input {
  display: flex;
  justify-content: flex-start;
  margin: 0rem 2rem;
}

.fields-container {
  display: inline-block;
  margin: 0 1rem;
}

.filters-container.hidden {
  display: none;
}

.filter-banner {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}



.fields-container.hide {
  display: none;
}

