.filters {
  display: flex;
  flex-direction: column;
}

.filters__header {
  color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
}

.filters__body {
  display: flex;
  margin: 0rem 2.5rem;
  flex-direction: column;
}


.fields-container.hide {
  display: none;
}

