.filters__header {
  color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  text-transform: uppercase;
}

.filters__body {
  display: flex;
  margin: 0rem 2rem;
  flex-direction: column;
}

.edit-form-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.fields {
  padding: 1rem;
  flex: 1;
  justify-content: center;
}


