.filters-container {
  height: 3rem;
  background-color: #0091EA;
  transition: height 200ms ease;
  overflow: hidden;
}

.filters-container.expand {
  height: auto;
  transition: height 200ms ease;
}

.filters-container.hidden {
  display: none;
}

.filter-banner {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.filter-banner > .icon-button {
  margin-left: 2rem;
}

.filter-banner > span {
  color: white;
  width: 80vw;
}

.fields-container {
  display: inline-block;
}
.fields-container > .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-bottom: 1rem;
}