.step {
  display: flex;
}

.step__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  cursor: pointer;  
}

.step__swipeable {
  display: flex;
  flex: 20;
}

.step__slide {
  padding: 15;
  min-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 28rem;
}

.slide .row {
  display: flex;
}

.slide-header {
  font-size: large;
  height: 5rem;
  display: flex;
  align-items: center;
  color: black;
}

.slide-body {
  height: 14rem;
  display: flex;
  flex-direction: column;
}

.slide-body-ready {
  justify-content: center;
  align-items: center;
}

.slide-body-welcome {
  flex-direction: row;
}

.text {
  margin: 2.5rem 0rem;
  padding-left: 2rem;
  display: flex;
}

.slide-button {
  width: 6rem;
}

.slide-field {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 7rem;
}

.slide-field__row {
  width: 4rem;
  margin: 0 1rem;
}

.slide-date-picker {
  margin: 1.7rem 5rem;
}

.newton {
  width: 210px;
  background-image: url('../assets/newton.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1rem;
}

.newton-pensando {
  width: 210px;
  height: 150px;
  background-image: url('../assets/newton-pensando.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1rem;
  flex: 1;
}
