.step {
  display: flex;
}

.step__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  cursor: pointer;  
}

.step__swipeable {
  display: flex;
  flex: 20;
}

.step__slide {
  padding: 15;
  min-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 24rem;
}

.slide-header {
  font-size: large;
  height: 5rem;
  display: flex;
  align-items: center;
  color: black;
}

.slide-body {
  height: 12rem;
  display: flex;
  flex-direction: column;
}

.slide-field {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 7rem;
}

.slide-date-picker {
  margin: 1.7rem 5rem;
}