.step {
  display: flex;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 22rem;
  overflow: hidden;
}
.step__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 1.75rem;
}

.step__swipeable {
  display: flex;
  flex: 20;
}

.step__slide {
  padding: 15;
  display: flex;
  align-items: center;
}



.slide-header {
  font-size: large;
  font-weight: 600;
  color: black;
  margin: 1rem 0;
}

.slide-body-ready {
  justify-content: center;
  align-items: center;
}

.slide-body-welcome {
  flex-direction: row;
}

.welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-text-mobile {
  margin: 0 1rem;
  font-size: 14px;
}


.slide-field {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 7rem;
}

.slide-field__row {
  margin: 0 1rem;
}

.slide-date-picker {
  margin: 1.7rem 5rem;
}

.newton {
  width: 16rem;
  height: 10rem;
  background-image: url('../assets/newton.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.newton-pensando {
  width: 210px;
  height: 150px;
  background-image: url('../assets/newton-pensando.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1rem;
  flex: 1;
}
