.landing-container {
  height: 100vh;
  background-color: #F5F5F5;
}

.landing-container > .row {
  display: flex;
  padding: 0 7rem;
}

.landing-container > .row > .info {
  width: 50vw;
  margin: auto 14rem;
  color: #4A4A4A;
}

.landing-container > .row > .info > .title {
  font-size: 30px;
  font-weight: bold;
}

.landing-container > .row > .info > .body {
  font-size: 20px;
  font-weight: lighter;
}