.menubar-container {
  width: 100vw;
  display: flex;
}

.menubar-container.hide {
  display: none;
}

.tabs {
  width: 70vw;
}

.newton {
  color: black;
}

.menubar-container > .menu {
  width: 30vw;
  background-color: #424242;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
}