.mobile-banner {
  width: 100%;
  height: 48px;
  background-color: #0091EA;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
}

.tuni-logo {
  background-image: url(../assets/logo-tuni.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 100%;
}