.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-content {
  background-color: white;
  border-radius: 4px;
}


.tutorial-slides {
  display: flex;
  height: 25rem;
  width: 25rem;
}

.tutorial-slide {
  min-height: 25rem;
  min-width: 25rem;
  display: flex;
}

.slides-container {
  outline: none;
}

.slides-container .button {
  position: fixed;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.back-button {
  left: -58px;
}

.next-button {
  right: -58px;
}

.slide {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.slide-header {
  font-size: 16px;
  padding: 1rem;
  font-weight: 500;
}

.slide-body {
  padding: 1rem;
  display: flex;
  flex: 1;
  justify-content: center;
}

.slide-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 3rem;
}

.input-help {
  font-size: 12px;
  margin-top: 12px;
}