.navigation-bar {
  display: flex;
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 12;
}

.navigation-bar_landing {
  background-color: transparent;
}
.navigation-bar_landing-dirty {
  animation: unfade 1s forwards;
  color: white;
}
.navigation-bar_landing-solid {
  animation: fade 1s forwards;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.navigation-bar-logo {
  margin-left: 10px;
  flex: 2;
}

.navigation-bar_landing-solid .action {
  color: black;
}

.navigation-bar_landing-solid .action-active {
  color: #0091EA;
}

.navigation-bar-actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 380px;
}

.navigation-bar-actions-mobile {
  min-width: auto;
}

.action {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: medium;
  font-weight: 200;
  color: white;
}

.action-active {
  color: #0091EA;
}



.action-mobile {
  font-size: 14px;
}

@keyframes fade {
  from {
    background-color: transparent;
    color: white;
  }
  to {
    color: black;
    background-color: rgba(255, 255, 255, 1);
  }
}

@keyframes unfade {
  from {
    background-color: rgba(255, 255, 255, 1);
    color: black;
  }
  to {
    background-color: transparent;
    color: white;
  }
}

.navigation-bar-title {
  color: white;
}
