.navigation-bar {
  background-color:transparent;
  display: flex;
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation-bar_site {
  background-color: transparent;
}
.navigation-bar__title {
  height: 1.5rem;
  width: 20rem;
  margin: auto 0;
  background-image: url(../assets/tuniversidad-logotipo-blanco.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.navigation-bar__title_site {
  display: none;
}

.left-content {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
}

.left-content__title {
  font-size: 17px;
}