.profile-cover {
  height: 250px;
  background-image: url(../assets/profile-cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  font-size: xx-large;
}

.profile-children {
  height: 100%;
  background-color: #F5F5F5;
  overflow: scroll;
}

.general .label {
  font-size: small;
  color: #C9C9C9;
  margin: 3px 0;
  font-weight: 100;
}

.general .value {
  font-size: medium;
}

.goal {
  padding: 0 1rem;
}
.goal:hover {
  background-color: #EEEEEE;
}

.goal__header {
  display: flex;
  align-items: center;
  height: 48px;
}

.goal__title {
  font-size: medium;
  margin: 5px 0;
}

.goal .goal__delete-button {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  display: none;
}

.goal:hover .goal__delete-button {
  display: inherit;
}

.progress {
  display: flex;
  flex-direction: column;
  height: 100%;
}
