.profile-cover {
  height: 250px;
  background-image: url(../assets/profile-cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  font-size: xx-large;
}