.register-form {
  width: 30vw;
  min-width: 28rem;
  background-color: transparent;
}

.register-form > .row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.register-form > .row > input {
  width: 45%;
  height: 1.5rem;
  margin: 0.5rem auto 0 auto;
  text-indent: 1rem;
}

.register-form > .row > .item{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form > .row > .item.password > input {
  width: 70%;
  }

.register-form > .row > .item > input {
  height: 1.5rem;
  text-indent: 1rem;
  width: 90%;
}

.register-form > .row > .password-container > input {
   text-indent: 1rem;
}

.register-form > .terms {
  margin: 20px 10px;
}

.register-form > .terms > label {
  margin-left: 0.5rem;
  font-size: 12px;
  color: #75797D;
}

.register-form > .terms > span {
  font-size: 12px;
  color: #0091EA;
  cursor: pointer;
}

.register-form > .button {
  background-color: #0091EA;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 2rem;
  margin: auto;
  cursor: pointer;
}