.result-card {
  width: 60%;
  min-width: 50rem;
  margin: 2rem auto;
}

.result-header {
  background-color: #0091EA;
  color: white;
  padding: 1rem 2rem;
}

.result-header > .title {
  font-size: 20px;
}

.content {
  display: flex;
}

.content > .admision {
  width: 50%;
  margin: auto 1rem;
}

.content > .admision > .row {
  display: flex;
  padding: 1rem 0;
}

.content > .admision > .row > .item {
  width: 2rem;
  margin: 0 1rem;
}

.content > .admision > .row > .item > .label {
  font-size: 10px;
  color: #C9C9C9;
  white-space: nowrap;
}

.content > .info {
  width: 50%;
  margin: 1rem 2rem;
}

.content > .info > .row {
  display: flex;
  padding: 0.5rem 0;
}

.content > .info > .row > .item {
  width: 10rem;
}
.content > .info > .row > .item > .label {
  font-size: 10px;
  color: #C9C9C9;
  white-space: nowrap;
}