.input-container {
  height: 4rem;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  padding: 0 3rem;
  display: flex;
}

.input-container > form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-container > form > input {
  color: #C9C9C9;
  height: 3rem;
  width: 80vw;
  text-indent: 1rem;
  font-size: 1rem;
  border: none;
}

.input-container > form > ::-webkit-input-placeholder {
  color: #C9C9C9;
}

.input-container > form > :focus {
  outline-width: 0;
}