.input-container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}

.input-container > input {
  color: #C9C9C9;
  height: 3rem;
  width: 80vw;
  text-indent: 1rem;
  font-size: 1rem;
  border: none;
}

.input-container > ::-webkit-input-placeholder {
  color: #C9C9C9;
}

.input-container > :focus {
  outline-width: 0;
}