.search-input {
  height: 60px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 240px;
}

.search-input form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F5F5F5;
  height: 45px;
  width: 60%;
  border-radius: 2px;
}

.search-input form input {
  color: #C9C9C9;
  text-indent: 1rem;
  font-size: 1rem;
  border: none;
  width: 80%;
  background-color: #F5F5F5;
}

.search-input form ::-webkit-input-placeholder {
  color: #C9C9C9;
}

.search-input form :focus {
  outline-width: 0;
}

.search-content {
  display: flex;
  height: 100%;
}

.search-results {
  flex: 1;
  order: 1;
  overflow: scroll;
}

.filters {
  flex: 0 0 260px;
  order: 2;
}