.select-input-container {
  display: block;
  width: 15rem;
  margin: 0 1rem;
}

.select-input-container > .title {
  color: white;
  margin: 1rem;
}

.select-input-container > .input {
  width:  10rem;
}