.site {
  display: flex;
}

.site__children {
  padding-top: 3rem;
  width: 100%;
}

.side-menu {
  background-color: #424242;
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100;
  box-shadow: 6px 0px 18px -4px rgba(0,0,0,0.75);
}

.side-menu__banner {
  background-color: #424242;
  height: 3rem;
  background-image: url(../assets/tuniversidad-logotipo-blanco.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  width: 100%;
}

.profile-banner {
  height: 12rem;
  background-color: #0091EA;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  flex-direction: column;
}

.profile-banner__name {
  margin-top: 10px;
}
