.logo-tuni {
  width: 9rem;
  height: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/logo-tuni.svg);
}

.logo-tuni-black {
  background-image: url(../assets/logo-tuni-black.svg);
}

.logo-tuni-blue {
  background-image: url(../assets/logo-tuni-blue.svg);
}

.newton-welcome {
  margin-top: 1rem;
  height: 15rem;
  width: 9rem;
  background-image: url(../assets/newton.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.slide p {
  text-align: justify;
}

.share {
  height: 24px;
  width: 24px;
  margin: 5px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.facebook {
  background-image: url(../assets/facebook.svg);
}

.twitter {
  background-image: url(../assets/twitter.svg);
}