.logo-tuni {
  width: 9rem;
  height: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/logo-tuni.svg);
}

.logo-tuni-black {
  background-image: url(../assets/logo-tuni-black.svg);
}

.logo-tuni-blue {
  background-image: url(../assets/logo-tuni-blue.svg);
}

.newton-welcome {
  height: 15rem;
  width: 10rem;
  background-image: url(../assets/newton.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.slide p {
  text-align: justify;
}