.university {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.university-cover {
  height: 230px;
  flex-direction: column;
  background-image: url(../assets/univ-cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.university-cover__title {
  text-transform: uppercase;
  font-size: 24px;
}
.university-cover__subtitle {
  font-size: 18px;
  margin: 5px 0;
  cursor: pointer;
}
.university-children {
  flex: 2;
  height: 100%;
  overflow: scroll;
  background-color: #F5F5F5;
}




