.university {
  flex: 1;
  display: flex;
}
.university-cover {
  height: 238px;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  z-index: 10;
}

.university-cover-desk {
  position: fixed;
  top: 0;
  left: 230px;
  right: 0;
}

.university-cover-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
}


.university-cover__title {
  font-size: 18px;
}
.university-cover__subtitle {
  font-size: 14px;
  cursor: pointer;
}

.university-content {
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 286px;
  width: 100%;
}

.university-content-mobile {
  margin-top: 250px;
}

.university-card {
  width: 90%;
}

.university-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-color: white;
  margin-right: 1rem;
}

.career-section-header {
  margin: 0.5rem 1rem;
}

.career-section-body {
  background-color: white;
  padding: 0.5rem 1rem;
}

.career-description {
  font-weight: 200;
  text-align: justify;
}
