
.university {
  height: 100vh;
  overflow: hidden;
}


.university > .university-cover {
  height: 18rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.university > .university-cover > .content {
  width: 100%;
  color: white;
  display: block;
  margin-left: 4rem;
  margin-bottom: 10px;
}

.university > .university-cover > .content > .title {
  text-transform: uppercase;
  font-size: 35px;
  width: 30rem;
}

.university > .university-cover > .content > .subtitle {
  font-size: 18px;
  margin: 5px 0;
}

.university > .main-content {
   height: 100%;
}

.university > .main-content > .banner {
  width: 100%;
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.university > .main-content > .banner > .tabs {
  width: 40rem;
  margin-left: 3rem;
}

.university > .main-content > .views {
  background-color: #F5F5F5;
  position: relative;
  z-index: -1;
  height: 100%;
}



